:root{
    --primary-text-color:#F5F4FA;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --primary-white-color: #ffffff;
    }
 
    body{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    }
   
       .container{
        display: flex;
       align-items: center;
       width: 1200px;
       padding-left: 15px;
       padding-right: 15px;
       margin: 0 auto;
    }
    
    ul,
    li{
      margin: 0;
      padding: 0;
      margin-bottom: 0;
   }
   p{
      margin: 0;
   }
    
   
   
    /* WebStudio */
    .web{
      width: 1200px;
      padding-left: 15px;
      color: var(--accent-color);
      font-family: Raleway, cursive;
      font-size: 26px;
      line-height: 1.19;
    }
 
    .studio{
    width: 1200px;
    padding-right: 15px;
    color: #212121;
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
     } 
 
     /* додаю конверт та телефон */
     .auth-nav .telephone{
        width: 16px;
        height: 12px;
        margin-right: 10px;
        stroke: #757575;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     
     .auth-nav .telephone-one{
       width: 16px;
       height: 12px;
       margin-right: 10px;
       stroke: #757575;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .auth-nav li:nth-child(2n){
      margin-right: 0;
     }
    
     /* Hero */
     .hero{  
      max-width: 1600px;
     
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      outline: 1px solid black;
     background-color: #757575;
      background-image: linear-gradient( to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/Img\(24\).png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
     }
     .section-hero{
      padding-top: inherit;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
     }
 
     /* link */
     
    .link{   
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .link-tel{
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     color: var(--text-color);
    }
    .link:hover,
    .link:focus{
      color: var(--accent-color);
    }
    .link-tel:hover,
    .link-tel:focus{
     color: var(--accent-color);
    }
    
    .link:hover .telephone,
    .link:focus .telephone{
      stroke: var(--accent-color);
    }
    .link-tel:hover .telephone-one,
    .link-tel:focus .telephone-one{
      stroke: var(--accent-color);
    }
 
 
     
    
 
    .link{
     color: var(--text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
       .auth-nav .link + .link{
       margin-left: 50px;
       }
       .auth-nav {
       display: flex;
       margin-left: auto;
       }
       .auth-nav li{
       
       display: block;
       padding-top: 32px;
       padding-bottom: 32px; 
    }
    .link-tel{
     color: var(--text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
       .auth-nav .link-tel + .link-tel{
       margin-left: 50px;
       }
       .auth-nav {
       display: flex;
       margin-left: auto;
       }
       .auth-nav li{
       margin-right: 50px;
       display: block;
       padding-top: 32px;
       padding-bottom: 32px; 
    }
   /* link-footer */
   .link-footer{
      
      color: var(--text-color);
      }
      
      .link-footer{
      
       color: var(--text-color);
       font-weight: 500;
       font-size: 14px;
       line-height: 1.14;
       text-decoration: none;
      }
      
         .auth-nav .link-footer + .link-footer{
         margin-left: 50px;
         }
         
 
 
    /*Убираємо точки із ul*/
    ul{
    list-style: none;
    }
 
    /* site-nav  */
    .site-nav{
       display: flex;
       margin-left: 93px;
       padding-top: 32px;
      padding-bottom: 32px;
    }
    .site-nav li{
      margin-right: 50px;
      display: block;
     
    }
     .site-nav li:last-child{
        margin-right: 0;
     }

     .site-nav-stydio-port{
      color: var(--accent-color);
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;
      display:inline-block;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }
     .site-nav-stydio-port::after{
      content: '';
      position: absolute;
      margin-top: 30px;
      left: 0;
      display: block;
      width: 80px;
       height: 4px;
      background-color: var(--accent-color);
      margin-bottom: -2px;
      border-radius: 2px;
     }
     
    .site-nav-stydio {
    color: var(--accent-color);
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    display:inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .site-nav-stydio::after{
      content: '';
      position: absolute;
      margin-top: 30px;
      left: 0;
      
      display: block;
      width: 50px;
      height: 4px;
      background-color: var(--accent-color);
      margin-bottom: -2px;
      border-radius: 2px;   
    }
    
    .site-nav-kontactu{
      color: var(--title-text-color);
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;
      display:inline-block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
     
      .site-nav-kontactu:hover::after{
        display: block;
      }
 
    .site-nav-portfolio,
    .site-nav-kontactu{
    color: var(--title-text-color);
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    display:inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .site-nav-stydio:hover,
    .site-nav-stydio:focus{
     color: var(--accent-color);
    }
    .site-nav-portfolio:hover,
    .site-nav-portfolio:focus{
      color: var(--accent-color);
    }
    .site-nav-kontactu:hover,
    .site-nav-kontactu:focus{
      color: var(--accent-color);
    }
 
    /* section-glava */
    .section-glava{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    }
    
    
    /* features */
    
    .features{
       display: flex;  
      
    }
    .features li:nth-child(4n){
     margin-right: 30px;
    }
    
 
    .features-title{
       margin-top: 0;
       margin-bottom: 10px;
    color: var(--title-text-color) ;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    }
    .features-list{
    color: var(--text-color);
    width: 270px;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    }
    
    /* Добавляємо іконки */
    
      .item-warning{
       margin-right: 30px;
      
      }
      .features-title{
        margin-top: 30px;
      }
      .item-warning::before{
         content: "";
         display:inline-block;
         width: 270px;
         content: "";
         display: block;
         height: 120px;
         background-image: url(../images/icons.svg/antenna\(1\).svg);
         background-repeat: no-repeat;
         background-position: center;
         background-color: var(--primary-text-color);  
      }
      .item-punctuality{
       margin-right: 30px;
      
      }
     
      .item-punctuality::before{
         content: "";
         width: 270px;
      
         display: block;
         height: 120px;
         background-image: url(../images/icons.svg/clock\(1\).svg);
         background-repeat: no-repeat;
         background-position: center;
         background-color: var(--primary-text-color);
       
      }
      .item-plan::before{
         content: "";
         width: 270px;
         
         display: block;
         height: 120px;
         background-image: url(../images/icons.svg/diagram\(1\).svg);
         background-repeat: no-repeat;
         background-position: center;
         background-color: var(--primary-text-color);
        
      }
      .item-plan{
       margin-right: 30px;
       
      }
      .item-technology::before{
         content: "";
         width: 270px;
         display: block;
         height: 120px;
         background-image: url(../images/icons.svg/astronaut\(1\).svg);
         background-repeat: no-repeat;
         background-position: center;
         background-color: var(--primary-text-color);
    
      }
      .item-technology{
       margin-right: 30px;
      
      }
      
      
    
 
    .features li:nth-child(4n){
       margin-right: 0;
    }
    /* section-title */
    .section-title{
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    }
 
    .picture{
       width: 370px;
       margin-right: 30px;
       }
    .picture-work{
       display: flex;
       padding: 0;
       margin: 0;
    }
    .picture-work li:nth-child(3n){
       margin-right: 0;
    }
 
    /* Feat-es */
    .Feat-ess-title{
       color: var(--title-text-color) ;
      margin-top: 0;
      margin-bottom: 10px;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.18;
    }
    .Feat-es-list{
       color: var(--text-color);
       margin-top: 0;
       margin-bottom: 30px;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.18;
       margin-bottom: 16px;
    }
    .photo-studio{
       margin-top: 0;
       margin-bottom: 30px;
    }
 
    .container-studio{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
     }
 
    .container-studio-comanda{
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      
     }
 
 
    .feat-es{
      display: flex;
    }
    
    .feat-es li:nth-child(4n){
       margin-right: 0;
    }
    .comanda{
      width: 270px;
     text-align: center;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px;
      background: #FFFFFF;
      border-radius: 0px 0px 4px 4px;
      margin: 0;
      margin-right: 30px;
      padding: 0;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      
    }
    .photo-studio{
    width: 270px;
    }
 
    /* button */
    .button{
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 73px;
    border: 1px solid transparent;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
     line-height: 1.87;
     cursor: pointer;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button:hover,
    .button:focus{
        background-color:var(--accent-color);
    }
    
 
    /*button-portfolio */
    .button-portfolio{
      border-radius: 4px;
      padding: 6px 22px;
      min-width: 73px;
      margin-top: 0;
      margin-bottom: 56px;
      border: 1px solid transparent;
      text-align: center;
      color: var(--primary-white-color);
      font-weight: 700;
      font-size: 16px;
       line-height: 1.87;
    }
    
    /* Висота і щирина секціі */
    
 
    .section-comanda{
      padding-top: 94px;
       padding-bottom:  94px;
      background-color: var(--primary-text-color) ;
    }
    section{
     
      padding-top: 94px;
       padding-bottom:  94px;
    }
    .section-work{
      padding-bottom:  94px;
      padding-top: 0; 
    }
 
 
    /* footer */
   
    .adress{
       color: var(--primary-white-col);
       margin-top: 0;
       margin-bottom: 9px;
       font-weight: 400;
       font-size: 14px;
       line-height: 2;
    }
    .auth-nav-footer{
       color: rgba(255, 255, 255, 0.6);
       margin-top: 0;
       margin-bottom: 9px;
       font-weight: 400;
       font-size: 14px;
       line-height: 2;
    }
      
    
    /* portfolio */
    .portfolio-photo{
       margin-top: 0;
       margin-top: 0;
       margin-bottom: 20px;
    }
 
    .portfolio-title{
       color: var(--title-text-color) ;
       margin-top: 0;
       margin-bottom: 4px;
       font-weight: 700;
       font-size: 18px;
       line-height: 2;
    }
 
    .portfolio-list{
       color: var(--text-color);
       margin-top: 0;
      
       font-weight: 400;
       font-size: 16px;
       line-height: 1.87;
    }
 
    p{
       margin: 0;
    }
    /* portfolio container */
 
    .portfolio-container{
      display: flex;
      flex-wrap: wrap;
    width: 1200px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
   }
 
 
 
    .portfolio{
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
 
    .portfolio li{
    flex-wrap: wrap;
    }
         
 
    .portfolio-element{
    flex-wrap: wrap;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
         }
      
 .portfolio li:nth-child(3n){
 margin-right: 0
 }
       
 
 /*button-portfolio  */
 
 .button-portfolio{
  
 border-radius: 4px;
 
 min-width: 73px;
 border: 1px solid transparent;
 text-align: center;
 color: var(--title-text-color);
 font-weight: 700;
 font-size: 16px;
 line-height: 1.87;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 
 .button-port:hover{
     color:var(--primary-white-color);
     background-color: var(--accent-color);
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
 .button-port:focus{
    color: var(--primary-white-color);
    background-color:  var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
 
          
 .button-portfolio{
 display: flex;
 margin: auto;
 align-items: center;
 margin-bottom: 50px;
            
         }
 .button-portfolio .button-port {
   border-radius: 4px;
  margin-right: 8px;
 display: block;
 padding-top: 6px;
 padding-bottom: 6px;
 padding-left: 22px;
 padding-right: 22px;
 cursor: pointer;
 border: 1px solid transparent;
 font-weight: 500;
 line-height: 1.63;
 
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
 color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .button-portfolio .button-port + .button-port{
    margin-left: 8px;
   }
 
   /* footer */
 .studio-footer{
  width: 1200px;
 padding-right: 15px;
 color: #ffffff;  
 font-family: Raleway, cursive;
 font-size: 26px;
 line-height: 1.19;
 }
 
 .portfolio-element:hover,
 .portfolio-element:focus{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 
 .web-footer{
    width: 1200px;
 
 color: var(--accent-color);
 font-family: Raleway, cursive;
 font-size: 26px;
 line-height: 1.19;
 }
       
 .footer{
  
 padding-top: 60px;
 padding-bottom: 60px;
 background-color: #2F303A;
 }
 .new-footer{
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 align-items: center;
 margin: auto;
 }
 .container-footer{
   width: 1200px;
   
   padding-right: 15px;
   margin: 0;
    }
 
 .flex-conteiner{
 flex-wrap: wrap;
 padding: 24px 20px;
 
 }
 
  .portfolio-element{
   box-sizing: border-box;
   width: 370px;
   border: 1px solid #EEEEEE;
   background: #FFFFFF;
   margin-top: 0;
   margin-top: 0;
   margin-bottom: 30px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 
 .portfolio-element:hover,
 .portfolio-element:focus{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 /*  Встановить стилі нижньої рамки */
 header{
   border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:#ECECEC;
 }
 
 .center{
   text-align: center;
 }
 .container-webstudio{
  
   padding-bottom: 20px;
 }
 
 /* соціальні мережі команди */
 .actions{
   flex-wrap: wrap;
   padding: 0;
   margin: 0; 
   fill: #212121;
 
 }
 .button-svg{
   padding: 0;
   border: 0;
   width: 100px;
   height: 100px;
   color: #212121;
   border-radius: 50%;
   background-color: #2196F3;
   width: 44px;
   height: 44px;
   display: block;
   content: "";
   margin-bottom: 30px;
   margin-right: 10px;
   margin-left: 32px;
   cursor: pointer;
 }
 .button-icon{
   width: 44px;
   height: 44px;
   fill: #212121;
 }
 .batton-icon{
   fill: #212121;
 }
 /* svg  */
 
 .regular-customers{
   display: flex;
 }
 
 .link-client{
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 170px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .link-client:hover .batton-client,
 .link-client:focus .batton-client{
   fill: var(--accent-color)
 }
 .link-client:hover .batton-client,
 .link-client:focus .batton-client{
   border: var(--accent-color);
   fill: var(--accent-color);
 }
 .link-client:hover,
 .link-client:focus{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 170px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid #2196F3;
  box-sizing: border-box;
  cursor: pointer;
 
 }
  
 .regular-customers li:nth-child(6n){
   margin-right: 0;
 }
 
 .batton-client{
   fill:  #AFB1B8;
 }
 
 
 /* social */
 .social-list{
   display: flex;
   justify-content: center;
   align-items: center;
   
 
 }
 .social-item{
   display: inline-block;
   margin-bottom: 30px;
   margin-right: 10px;
   padding: 0;
   border: none;
   width: 44px;
   height: 44px;
   color: #212121;
   border-radius: 50%;
   background-color: var(--primary-white-color);
   background-position: center;
 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .social:hover .social-one,
 .social:focus .social-one{
   fill: var(--primary-white-color);
 }
 .social-one{
   margin-top: 12px;
   fill: #AFB1B8;
 }
 
 .social:hover,
 .social:focus{
   background-color: var(--accent-color);
 }
 .social{
   display: block;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 
 
 /* footer-social */
 .footer{
   
   display: flex;
   align-items: baseline;
 }
 .general{
   display: flex;
  
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: auto;
   align-items: baseline;
 }
 
 .connect{
   color: var(--primary-white-color);
   margin-top: 0;
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.17;
 }
 .container-new{
 align-items: center;
 margin-right: 70px;
 }
 
 /* футер 2 частина */
 .social-list-footer{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .social-item-footer{
   display: inline-block;
   margin-right: 10px;
   padding: 0;
   border: none;
   width: 44px;
   height: 44px;
   color: #212121;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.1);
   background-position: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .social-item-footer:hover,
 .social-item-footer:focus{
   background-color: var(--accent-color);
 }
 .social-footer-href:hover,
 .social-footer-href:focus{
   background-color: var(--accent-color);
 }
 .social-one-footer{
   margin-top: 12px;
   margin-left: 12px;
   fill: var(--primary-white-color);
  
 }
 
 .social-footer-href{
   display: block;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .container-new .container-too{
   display: flex;
   justify-content: flex-start;
 }
 /* Встановлюэмо технокряк */
 


 .portfolio-element-tehno:hover .portfolio-photo-tehno::before{
transform: translateY(0);
 }
 .portfolio-element-tehno{
  box-sizing: border-box;
  width: 370px;
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  margin-top: 0;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}


.portfolio-element-tehno:hover,
.portfolio-element-tehno:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;

}
.portfolio li:nth-child(3n){
  margin-right: 0
  }
  .portfolio-photo-tehno{
    overflow: hidden;
  }

 /* tehnokrjak */

 .project-overlay{
  display: inline-block;
  content: '';
  position: absolute;
  background: rgba(33, 150, 243, 0.9);

  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-thumb:hover .project-overlay{
  transform: translateY(0%);
}
.overley-text{
 font-size: 18px;
 line-height: 1.56;
 padding-top: 43px;
 padding-left: 41px;
 color: var(--primary-white-color);
}
.project-link{
 text-decoration: none;
}
.project-thumb{
 position: relative;
 overflow: hidden;
}
/* заказать услугу */

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.backdrop{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  
  background:rgba(0, 0, 0, 0.2);
 
}
.modal{
  height: 581px;
  width: 528px;
  background-color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button{
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close{
  width: 100%;
  height: 100%;
}
/* чем ми занимаэмось */
.work-box{
  position: relative;
}
.item-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
.section-text{
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}
/* 6дз */
.sulka{
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.tabl{
  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 358px;
height: 50px;
margin-right: 12px;
background-color: #2F303A;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tabl:hover,
.tabl:focus{
  border: 1px solid var(--accent-color);
}
 placeholder{
  margin-right: 16px;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}
.signature{
  display: block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 0;
 
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
}
.strila{
  margin-left: 10px;
  text-align: center;
}
.association{
  display: flex;
  margin-top: 20px;
}
.element:last-child{
  flex-basis: calc(50%-15px);
}
.element{
  margin-left: 93px;
}
.association input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
/* модальне выкно */
.text{
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.17;
}
.name{
  color: #757575;
  margin-top: 12px;
  padding-bottom: 4px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
.name-one{
  color: #757575;
 
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
 padding-top:  12px;
 padding-left: 16px;
}
.windows{
 width: 448px;
 height: 40px;
 padding-left: 42px;
 border: 1px solid var(--text-color);
 border-radius: 4px;
 box-sizing: border-box;
 cursor: pointer;
 font-family: inherit;
 font-size: 100%;
 line-height: 1.15;
 margin: 0;
 margin-left: 41px;
}
.windows:hover,
.windowsl:focus{
  border: 1px solid var(--accent-color);
}
textarea{
  resize: none;
  width: 448px;
  height: 120px;
  margin-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover,
textarea:focus{
  border: 1px solid var(--accent-color);
}

.arhiv{
  color: var(--primary-white-color);
  background: #2196F3;
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px ;
border-color: var(--accent-color);
width: 200px;
height: 50px;
font-size: 16px;
line-height: 1.88;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 40px;
cursor: pointer;
}
.arhiv:hover,
.arhiv:focus{
  background-color: var(--accent-color);
}
.checkbox{
 
  font-family: sans-serif;
 
  margin-left: 52px;
  margin-bottom: 30px;
  cursor: pointer;
}
.arhiv-button{
  margin-left: 164px;
  margin-bottom: 40px;
}

input[type='checkbox']{
  width: 16px;
  height: 15px;
}
.consent{
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}
.chek{
  margin-right: 7px;
}
.name-model{
  position: relative;
  margin-top: 4px;
}
.windows-name{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}


.contract{
  color: var(--accent-color);
}
.icon-name{
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: tomato;
  transform: translateY(-50%);
}

.modal-unit-group{
  position: relative;
  margin-top: 4px;
  background-color: inherit;
}

.modal-unit-icon{
  color: #212121;
  position: absolute;
  left: 56px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.windows:focus + .modal-unit-icon,
.windows:not(:placeholder-shown) + .modal-unit-icon{
  fill: var(--accent-color);
}
.windows:focus .modal-unit-icon{
  border: var(--accent-color);
  color: var(--accent-color);
}
.windows:hover{
border: 1px solid var(--accent-color);
color: var(--accent-color);
}
.close:focus{
  fill: var(--accent-color);
}