.regular-customers {
 
  display: flex;
  flex-wrap: wrap;


@media screen and (min-width: 480px) {
    max-width: 480px;

  .client{
    width: 50%;
   text-align: center;
   padding-bottom: 30px;

   &:nth-child(2n) {
    margin-right: 0px;
}
  }
}

@media screen and (min-width: 768px) {
    max-width: 768px;

    .client{
      width: 33.3333%;
     text-align: center;
     padding-bottom: 30px;
}
}

@media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: flex;
  & li:nth-child(6n){
      margin-right: 0;
    }
    .client{
      width: 16.6666%;
     text-align: center;
     padding-bottom: 30px;
}
  }
}

.client__link{
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid $accent-color;
  box-sizing: border-box;
  cursor: pointer;

 }
 &:hover .clien__battont,
 &:focus .clien__battont{
  fill: $accent-color;
}
 &:hover .clien__battont,
 &:focus .clien__battont{
  border: $accent-color;
  fill: $accent-color;
}
}


.clien__battont{
  fill:  #AFB1B8;
}
