.features{
    display: flex;  
 }
 .features li:nth-child(4n){
  margin-right: 30px;
 }

 .features-title{
 margin-top: 0;
 margin-bottom: 10px;
 color: $title-text-color;
 margin-top: 0;
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 text-transform: uppercase;
 }
 .features-list{
 color: $text-color;
 width: 270px;
 margin-top: 0;
 font-weight: 400;
 font-size: 14px;
 line-height: 2;
 }
 .item-warning{
 margin-right: 30px;
   
   }
.features-title{
 margin-top: 30px;
   }
.item-warning::before{
 content: "";
 display:inline-block;
 width: 270px;
 content: "";
 display: block;
 height: 120px;
 background-repeat: no-repeat;
 background-position: center;
 background-color: $primary-text-color;  
 }
 .item-warning::before{
 background-image: url('../images/icons.svg/antenna1.svg');
 }
 .item-punctuality{
 margin-right: 30px;
   
   }
.item-punctuality::before{
content: "";
width: 270px;
display: block;
height: 120px;
    
background-repeat: no-repeat;
background-position: center;
background-color: $primary-text-color;
 }
 .item-punctuality::before{
background-image: url('../images/icons.svg/clock1.svg');
 } 

 .item-plan::before{
content: "";
width: 270px;
    
display: block;
height: 120px;
    
background-repeat: no-repeat;
background-position: center;
background-color: $primary-text-color;
 }
 .item-plan::before{
background-image: url('../images/icons.svg/diagram1.svg');
 }
 .item-plan{
margin-right: 30px;
    
   }
.item-technology::before{
content: "";
width: 270px;
display: block;
height: 120px;
background-repeat: no-repeat;
background-position: center;
background-color: $primary-text-color;
}
.item-technology::before{
background-image: url('../images/icons.svg/astronaut1.svg')
   }
.item-technology{
margin-right: 30px;
}
.features li:nth-child(4n){
margin-right: 0;
 }