.actions{
    flex-wrap: wrap;
    padding: 0;
    margin: 0; 
    fill: $title-text-color;
  
  }
  .button-svg{
    padding: 0;
    border: 0;
    width: 100px;
    height: 100px;
    color: $title-text-color;
    border-radius: 50%;
    background-color: $accent-color;
    width: 44px;
    height: 44px;
    display: block;
    content: "";
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 32px;
    cursor: pointer;
  }
  .button-icon{
    width: 44px;
    height: 44px;
    fill: $title-text-color;
  }
  .batton-icon{
    fill: $title-text-color;
  }

  .regular-customers{
    display: flex;
  & li:nth-child(6n){
      margin-right: 0;
    }
  }
  
  .client__link{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    margin-right: 30px;
    border: 1px solid $accent-color;
    box-sizing: border-box;
    cursor: pointer;
  
   }
   &:hover .clien__battont,
   &:focus .clien__battont{
    fill: $accent-color;
  }
   &:hover .clien__battont,
   &:focus .clien__battont{
    border: $accent-color;
    fill: $accent-color;
  }
  }
  
  
  .clien__battont{
    fill:  #AFB1B8;
  }

  .social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .social-list__social-item{
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 10px;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    color: $title-text-color;
    border-radius: 50%;
    background-color: $primary-white-color;
    background-position: center;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-one{
    margin-top: 12px;
    fill: #AFB1B8;
  }
  
  .social{
    display: block;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    background-color: $accent-color;
  }
    &:hover .social-one,
    &:focus .social-one{
    fill: $primary-white-color;
  }
  }
  