
   
       @media screen and (min-width: 480px) {
        .features {
          max-width: 480px;
        }
      }
      
      @media screen and (min-width: 768px) {
        .features {
          max-width: 768px;
        }
      }
      
      @media screen and (min-width: 1200px) {
        .features {
          max-width: 1200px;
         display: flex;
        }
        .features__title{
          margin-top: 0;
          margin-bottom: 10px;
          color: $title-text-color;
          margin-top: 0;
          font-weight: 700;
          font-size: 14px;
          line-height: 1.14;
          text-transform: uppercase;
          }
          .features__title{
            margin-top: 30px;
              }
          .features__list{
          color: $text-color;
          width: 270px;
          margin-top: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 2;
          }
          .features__item-warning{
          margin-right: 30px;
          &::before{
            content: "";
            display:inline-block;
            width: 270px;
            content: "";
            display: block;
            height: 120px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $primary-text-color;  
            }
          &::before{
            background-image: url('../images/icons.svg/antenna1.svg');
            }   
            }
         
         
          .features__item-punctuality{
          margin-right: 30px;
          &::before{
            content: "";
            width: 270px;
            display: block;
            height: 120px;
                
            background-repeat: no-repeat;
            background-position: center;
            background-color: $primary-text-color;
             }
         &::before{
            background-image: url('../images/icons.svg/clock1.svg');
             } 
            }
         
          .features__item-plan{
         margin-right: 30px;
         &::before{
            content: "";
            width: 270px;      
            display: block;
            height: 120px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $primary-text-color;
             }
         &::before{
            background-image: url('../images/icons.svg/diagram1.svg');
             }
             
            }
         
         .features__item-technology{
         margin-right: 30px;
         &::before{
            content: "";
            width: 270px;
            display: block;
            height: 120px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $primary-text-color;
            }
         &::before{
            background-image: url('../images/icons.svg/astronaut1.svg')
               }
         }
      }
 


 
