.hero{  
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
   background-color: $text-color;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   .hero{
    background-image: linear-gradient( to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url('../images/Img\(24\).png');
   }
   .section-hero{
    padding-top: inherit;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
   }
   .hero__section-glava{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    }
    .hero__button{
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 73px;
    border: 1px solid transparent;
    text-align: center;
    color: $primary-white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
    &:focus{
    background-color: #188CE8;
    border: 1px solid $accent-color;
        }
        }
   .button-portfolio{
   display: flex;
   margin: auto;
   border-radius: 4px;
   min-width: 73px;
   margin-top: 0;
   margin-bottom: 50px;
   border: 1px solid transparent;
   text-align: center;
   align-items: center;
   color: $primary-white-color;
   font-weight: 700;
   font-size: 16px;
    line-height: 1.87;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   & .button-port + .button-port{
    margin-left: 8px;
   }
 }
  .button-port{
  &:hover{
      color: $primary-white-color;
      background-color: $accent-color;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  &:focus{
      color: $primary-white-color;
      background-color:  $accent-color;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
     }
  }
        
  

  .button-portfolio .button-port {
    border-radius: 4px;
   margin-right: 8px;
   display: block;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 22px;
   padding-right: 22px;
   cursor: pointer;
   border: 1px solid transparent;
   font-weight: 500;
   line-height: 1.63;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

   .section-comanda{
    padding-top: 94px;
    padding-bottom:  94px;
    background-color: $primary-text-color;
  }
  section{
               
   padding-top: 94px;
   padding-bottom:  94px;
  }
  .section-work{
   padding-bottom:  94px;
   padding-top: 0; 
    }
  header{
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #ECECEC;
  }
              
  .center{
    text-align: center;
  }
  .container-webstudio{
   padding-bottom: 20px;
  }
  .modal{
  height: 581px;
  width: 528px;
  background-color: $primary-white-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
              
.modal-button{
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.text{
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  color: $title-text-color;
  font-size: 20px;
  line-height: 1.17;
   }
  .name{
  color: $text-color;
  margin-top: 12px;
  padding-bottom: 4px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  }
  .name-one{
  color: $text-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  padding-top:  12px;
  padding-left: 16px;
  }
  .windows-input{
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  margin-left: 41px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
   border: 1px solid $accent-color;
   }
   }
   textarea{
 resize: none;
 width: 448px;
 height: 120px;
 margin-left: 40px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 &:hover,
 &:focus{
   border: 1px solid $accent-color;
 }
 }
    .arhiv{
  color: var(--primary-white-color);
  background: #2196F3;
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px ;
  border-color: var(--accent-color);
  width: 200px;
  height: 50px;
   font-size: 16px;
  line-height: 1.88;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              
  cursor: pointer;
  &:hover,
  &:focus{
    background-color: #188CE8;
  }
  }
  .checkbox{
    font-family: sans-serif;
    margin-left: 52px;
    margin-bottom: 20px;
    cursor: pointer;
   
  }
  .arhiv-button{
    margin-left: 164px;
    margin-bottom: 40px;
  }