.Feat-ess-title{
   color: $title-text-color ;
   margin-top: 0;
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
 }
 .Feat-es-list{
    color: $text-color;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
 }
 .photo-studio{
    margin-top: 0;
    margin-bottom: 30px;
 }

 .container-studio{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  }

 .container-studio-comanda{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-right: auto;
   margin-left: auto;
   padding: 0;
  }
  .feat-es{
    display: flex;
  }
  
  .feat-es li:nth-child(4n){
     margin-right: 0;
  }
  .comanda{
    width: 270px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px;
    background: $primary-white-color;
    border-radius: 0px 0px 4px 4px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
  }
  .photo-studio{
    width: 270px;
  }