.hero{  
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
   background-color: $text-color;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   .section-hero{
    padding-top: inherit;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
   }
   .section-glava{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    }