body{
    color: $primary-white-color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    @media  screen and (min-width:480px) {
        width:480px
    }

    @media screen and (min-width:780) {
        width: 780px;
    }

    @media  screen and (min-width:1200px) {
        width: 1200px;
    }
    }

ul,
li{
      margin: 0;
      padding: 0;
      margin-bottom: 0;
}
 p{
      margin: 0;
 }
 ul{
    list-style: none;
    }
